<html>
    <head>
        <script type="text/javascript" src="custom.js"> </script>
        <link rel="stylesheet" type="text/css" href="../common/style.css" />
        <script type="text/javascript" src="../common/angular.js"> </script>
        <script type="text/javascript" src="../common/jquery.min.js"> </script>
        <script type="text/javascript" src="../common/corner.js"> </script>
        <script type="text/javascript" src="custom.js"> </script>
        <style>
            .filter {float:left}
        </style>
    </head>
    <body>
    <h1>Tracking Problems</h1>

    <div id="form-example" class="example">
        <div class="filter">

        </div>
        <div class="clear"></div>
        <div ng-app="myapp" ng-controller="employeeController">
            <table>
               <tr>
                   <td>
                        <div class="advFilter">
                        <input type="search" class="light-table-filter" data-table="order-table" placeholder="Filter"/>
                        </div>
                    </td>
                </tr>
            </table>


            <table class="order-table">
               <thead>
               <tr><th>Problem</th><th>Difficulty</th><th>Tag</th><th>Solution</th><th>Comments</th></tr>
               </thead>
               <tbody>
               <tr ng-repeat="x in names">
                      <td>{{x.problem}}</td><td>{{x.difficulty}}</td><td>{{x.tag}}</td>
                   <td>{{x.solution}}</td><td>{{x.comments}}</td>

                    <td>
                        <!-- I guess, I'm thinking in the wrong way with the a-tags -->
                        <!-- How do I put the current object (qs) as $scope.currentQs -->
                        <a href="#" ng-click="edit(qs.query_id)">Edit</a>
                        <a href="#" ng-click="delete(qs.query_id)">Delete</a>
                    </td>
                  </tr>
               </tbody>
           </table>
        </div>
    </div>
    <div class="overlay" id="overlay" style="display:none;">
        <img src="../common/loading.gif" alt="Loading"/>
    </div>

    </body>
</html>